.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.contenedor {
    display: flex;
    align-items: flex-start; /* Alinea el contenido hacia la parte superior */
    justify-content: center; /* Centra horizontalmente */
    height: 100vh; /* 100% de la altura de la ventana */
  }
  
  .centrado-superior {
    text-align: center;
    margin-top: 20vh; /* Ajusta la separación desde la parte superior según sea necesario */
  }
  