<div class="title">
  <h1>View Surfboard</h1>
</div>

<div class="contenedor">
  <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Surfboard</mat-card-title>
        <mat-card-subtitle>Hybrid</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="card">  
            <mat-card-title>{{ surfboard.name }}</mat-card-title>    
              <p><strong>Size:</strong> {{ surfboard.size }} </p>
              <p><strong>Weight:</strong> {{ surfboard.weight }} </p>
              <p><strong>Amount:</strong> {{ surfboard.amount }} </p>
              <p><strong>LinkSocialMedia:</strong> <a href="{{ surfboard.linkSocialMedia }}"  target="_blank"> View link </a></p>
              <p><strong>Price:</strong> {{ surfboard.price }} </p>
              <p><strong>Description:</strong> {{ surfboard.description }} </p>
              <p><strong>Type:</strong> {{ surfboard.type }} </p>
              <p><strong>Sold:</strong> {{ surfboard.sold }} </p>           
      </mat-card-content>
      <mat-card-actions>
        <button class="buttonBack" routerLink="/listSurfboard" mat-button>Back</button>
      </mat-card-actions>
    </mat-card>
</div>


